@import url("https://use.typekit.net/fkc5vvx.css");
@font-face {
  font-family: 'Cascadia Code', sans-serif;
  src: url('/public/Font/ttf/CascadiaCode.ttf') format('ttf'),
       url('/public/Font/woff2/CascadiaCode.woff2') format('woff2')
}

:root {
    --main-color: #2b9ccc;
    --background: #091F29;
    --primary-color: #d4ecf6;
    --secondary-color: #a1b4c4;
}
  

body {
  margin: 0;
  padding: 0;
  width:100%;
  height:100%;
  font-size: 16px;
  background-color: var(--background);
  background-image: url('code_bg.png');
  background-position: center center;
  background-attachment: fixed;
  background-size: 85rem;
}
/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #2b9ccc;
}

/* Works on Chrome, Edge, and Safari */
* {
  scroll-behavior: smooth;
}
*::-webkit-scrollbar {
  width: .4rem;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #2b9ccc;
}